body {
  font-family: sans-serif;
  background-color: white;
}

input[type=text] {
  position: absolute;
  left: 3.5%;
  top: 3%;
  width: 88%;
  border: 3px solid #66b5ff;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 15px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#navbar {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  background-color: black;
  width: 100%;
  height: 8%;
}

#webTitle {
  color: white;
  margin-left: 5%;
}

#displaySection {
  position: absolute;
  display: block;
  background-color: white;
  width: 100%;
  height: 60%;
  left: 0%;
  top: 8%;
}

#welcomeMessage {
  color: black;
  margin-top: 11%;
  margin-left: 18%;
  font-size: 200%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#twitterIcon {
  margin-top: -20%;
  margin-left: 55%;
  transform: scaleX(-1);
}

#toolSection {
  position: absolute;
  background-color: grey;
  width: 30%;
  height: 80%;
  left: 0%;
  top: 67%;
  z-index: 1;
  border-top: 2px solid black;
}

#mainSection {
  position: absolute;
  background-color: lightgrey;
  width: 70%;
  height: 80%;
  left: 30%;
  top: 67%;
  z-index: 2;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
